<div class="container-fluid">
	<br>
	<div class="box col-md-4 col-md-offset-4">
		<h3>Detalles del Usuario</h3>
		<hr>
		<% if(user.isAdmin == true){ %>
		<h4>Administrador</h4>
		<% } %>
		<strong>Id: </strong>
		<h6><%- user.id %></h6>
		<strong>Cuenta del Usuario: </strong>
		<h6><%- user.username %></h6>
		<strong>Nombre(s): </strong>
		<h6><%- user.name %></h6>
		<strong>Apellido(s): </strong>
		<h6><%- user.lastName %></h6>
		<strong>Correo Electronico: </strong>
		<h6><%- user.email %></h6>
		<a class="btn btn-md btn-primary" href="/user/index">Regresar a Lista de Usuarios</a>
	</div>
</div>