<section class="container" id="menu-section">
  <div class="row">
    <div class="col-md-8">
      <!-- Columna Izquierda (Nav tabs)-->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#appetizer" aria-controls="appetizer" role="tab" data-toggle="tab">Entradas</a></li>
        <li role="presentation"><a href="#salads" aria-controls="salads" role="tab" data-toggle="tab">Ensaladas</a></li>
        <li role="presentation"><a href="#main-dish" aria-controls="main-dish" role="tab" data-toggle="tab">Plato fuerte</a></li>
        <li role="presentation"><a href="#dessert" aria-controls="dessert" role="tab" data-toggle="tab">Postres</a></li>
      </ul>

      <!-- Tab panes -->
      <% var i = 1; %>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="appetizer">
          <% dishes = appetizer %>
          <%- partial('../partials/menu-section.ejs') %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="salads">
          <% dishes = salads %>
          <%- partial('../partials/menu-section.ejs') %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="main-dish">
          <% dishes = maindish %>
          <%- partial('../partials/menu-section.ejs') %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="dessert">
          <% dishes = dessert %>
          <%- partial('../partials/menu-section.ejs') %>
        </div>
      </div>
    </div>
    <!--Columna de la derecha-->
      <div class="col-md-4 box mt10 container" id="menu-order-box">
        <form action='order/placeorder' method='POST' id='dishes'>
          <input type='hidden' name='_csrf' value='<%= _csrf %>'>
          <h3>Orden</h3>
          <ul class="list-group menu-order">
          </ul>
          <p class="pull-left">Total: $<span id="total-price">0</span></p>
          <button type='submit' class="pull-right btn btn-primary">Ordenar</button>
        </form>
      </div>
  </div>
</section>