<div class="modal fade" id="<%= target %>" tabindex="-1" role="dialog" aria-labelledby="<%= target %>Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" action="<%= url%>">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="<%= target %>Label">
            <%= title %>
          </h4>
        </div>
        <div class="modal-body">
          <!--Formulario-->
          <input type="hidden" name="_csrf" value="<%= _csrf%>">
          <input type="hidden" class="<%= type %>-id" name="id">
          <div class="form-group">
            <p> ¿Desea eliminar el plato seleccionado? </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">
            <%= actionType %>
          </button>
        </div>
      </form> 
    </div>     
  </div>
</div>