<div class="container" id="dishes">
	<div class="mgb20">
		<h2>Platos</h2>
		<a href="#" class="add-dish-btn" data-toggle="modal" data-target="#add-dish-modal">
			<span class="glyphicon glyphicon-plus"></span>
			Agregar Plato
		</a>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Plato</th>
					<th>Descripcion</th>
					<th>Precio</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
			<% _.each(dishes, function displayDish(dish) {%>
				<tr>
					<td><%= dish.name %></td>
					<td><%= dish.description %></td>
					<td><%= dish.price %></td>
					<td>
						<button type="button" class="btn btn-default btn-sm btn-edit-dish" data-toggle="modal" data-target="#edit-dish-modal" data-model="<%= JSON.stringify(dish) %>">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
					</td>
					<td>						
						<button type="button" class="btn btn-default btn-sm btn-delete-dish" data-toggle="modal" data-target="#confirm-destroy" data-model="<%= JSON.stringify(dish) %>">
								<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			<% }) %>
			</tbody>
		</table>
	</div>
</div>

<% var target = 'add-dish-modal' %>
<% var title = 'Agregar plato' %>
<% var url = 'dish/create' %>
<% var actionType = 'Agregar' %>
<% var type = 'add' %>
<%- include dish-modal %> 

<% target = 'edit-dish-modal' %>
<% title = 'Editar plato' %>
<% url = 'dish/update' %>
<% actionType = 'Editar' %>
<% type = 'edit' %>
<%- include dish-modal %> 

<% target = 'confirm-destroy' %>
<% title = 'Eliminar plato' %>
<% url = 'dish/delete/' %>
<% actionType = 'Eliminar' %>
<% type = 'delete' %>
<%- include confirm-destroy %> 