<div class="square-box">
  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">

      <!-- Codigo EJS para agregar los platos -->
        <%  _.each(dishes, function (dish) { %>
        <div class="panel-heading" role="tab" id="heading<%=i%>">
         <!-- <h4 class="panel-title"></h4>-->
          <div role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>">
          <span class="title"><%= dish.name %>
            <button class="btn btn-xs btn-primary glyphicon glyphicon-plus pull-right menu-add" data-id="<%=dish.id%>"></button>
          </span>
          <span class="pull-right mh10">$<span class="menu-price"><%= dish.price %></span></span>
        </div>
        <div id="collapse<%=i%>" class="panel-collapse collapse" role="tabpanel" >
          <!--Row Bootstrap-->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <img src="<%=dish.image%>" class="sm-img" alt="<%=dish.name%>">
              </div>
              <div class="col-md-7 col-md-offset-1">
                <%= dish.description %>
                <% i++ %>
              </div>
            </div>
          </div>
        </div>

        </div>
        <% }) %>
    </div>
  </div>
</div>